.omikuji-cent {
  text-align:center
}

.worship-cent {
  text-align:center
}


/*タブの中身を初期非表示に*/
.ChangeElem_Panel {
  display: none;
}
/*タブを横並べに*/
.ChangeElem_Btn_Content {
  display: flex;
  justify-content: space-around;
}
/*通常時のタブ装飾*/
.ChangeElem_Btn {
  border: 2px solid #ccc;
  background-color: lightblue;
  border-radius: 10px;
  color: #666;
  cursor: pointer;
  display: inline-block;
  flex: 1;
  font-size: 1.2rem;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  transition: all .3s ease-in-out;
  vertical-align: middle;
}
/*カレントとホバー時のタブ装飾*/
.ChangeElem_Btn:hover,
.ChangeElem_Btn.is-active {
  background: #fcf7f1;
  border: 2px solid #fcbc82;
  box-sizing: border-box;
  color: #333;
}